//! **************************************************************************
// Written by: Map M.70d on Sun Jun 26 14:37:00 2011
//! **************************************************************************

SCHEMATIC START;
COMP "RS" LOCATE = SITE "R18" LEVEL 1;
COMP "RESET" LOCATE = SITE "G18" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "E16" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "E4" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P4" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
PIN CLK_pin<0> = BEL "CLK" PINNAME PAD;
PIN "CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "FLAG_R" LOCATE = SITE "C17" LEVEL 1;
COMP "ENA" LOCATE = SITE "M13" LEVEL 1;
COMP "FLAG_T" LOCATE = SITE "J13" LEVEL 1;
COMP "RXD" LOCATE = SITE "U6" LEVEL 1;
COMP "TXD" LOCATE = SITE "P9" LEVEL 1;
COMP "DATA<0>" LOCATE = SITE "L15" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "K12" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "L17" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "DATA<4>" LOCATE = SITE "K13" LEVEL 1;
COMP "DATA<5>" LOCATE = SITE "L16" LEVEL 1;
COMP "DATA<6>" LOCATE = SITE "M14" LEVEL 1;
COMP "DATA<7>" LOCATE = SITE "M16" LEVEL 1;
COMP "bit_clk" LOCATE = SITE "G15" LEVEL 1;
COMP "CLK_1000Hz" LOCATE = SITE "R15" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

