# CLOCK
NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE; 
NET "CLK" LOC="B8";

# RS232-Schnittstelle
NET "RXD" LOC = "U6";
NET "TXD" LOC = "P9";
#NET "test_txd" LOC = "M18";

#AUSGABE
NET LED<0> LOC = J14;
NET LED<1> LOC = J15;
NET LED<2> LOC = K15;
NET LED<3> LOC = K14;
NET LED<4> LOC = E16;
NET LED<5> LOC = P16;
NET LED<6> LOC = E4;
NET LED<7> LOC = P4;

#RESET
NET "RESET" LOC = "G18";

#FLAG
NET "FLAG_R" LOC = "C17";
NET "FLAG_T" LOC = "J13";
NET "bit_clk" LOC = "G15";

#NET LED_OUT LOC = J14;

##FLAG
#NET "LED_OUT" LOC = "C17";

#LCD
NET DATA<0> LOC = L15;
NET DATA<1> LOC = K12;
NET DATA<2> LOC = L17;
NET DATA<3> LOC = M15;
NET DATA<4> LOC = K13;
NET DATA<5> LOC = L16;
NET DATA<6> LOC = M14;
NET DATA<7> LOC = M16;

NET ENA LOC = M13;
NET RS LOC = R18;
NET CLK_1000Hz LOC = R15;